In [3]:
def printme( str ):
    #his is a pint function
    print (str);
    return;

printme("I'm first call to user defined function")
printme("Again second call to the same function")

I'm first call to user defined function
Again second call to the same function

In [2]:
def changeme( mylist ):
    #This changes a passed list
    mylist.append([1,2,3,4])
    print ("Values inside he function: ", mylist)
    return
mylist = [10,20,30]
changeme( mylist )
print ("Valus outside the function: ", mylist)

Values inside he function:  [10, 20, 30, [1, 2, 3, 4]]
Valus outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [4]:
def changeme( mylist ):
    #This changes a passed list
    mylist = [1,2,3,4];
    print ("Values inside he function: ", mylist)
    return
mylist = [10,20,30]
changeme( mylist )
print ("Valus outside the function: ", mylist)

Values inside he function:  [1, 2, 3, 4]
Valus outside the function:  [10, 20, 30]

In [6]:
def printme( str ):
    #This prints a passed string
    print (str);
    return;
printme( str = "My string");

My string

In [7]:
def printinfo( name, age ):
    #Test function
    print ("Name: ", name);
    print ("Age: ", age);
    return;
printinfo( age=50, name="miki" );

Name:  miki
Age:  50

In [8]:
def printinfo( name, age = 35 ):
    #Test function
    print ("Name: ", name);
    print ("Age: ", age);
    return;
printinfo( age=50, name="miki" );
printinfo( name="miki" );

Name:  miki
Age:  50
Name:  miki
Age:  35

In [11]:
def printinfo( arg1, *vartuple ):
    #This is test
    print ("Output is: ")
    print (arg1)
    for var in vartuple:
        print (var)
        return;
printinfo( 10 );
printinfo( 70, 60, 50, 40);

Output is:
10
Output is:
70
60

In [6]:
total = 50;
def sum( arg1, arg2 ):
    #Add both the parameters
    total = arg1 + arg2;
    print ("Inside the function local total : ", total)
    return total;
# Now you can call sum function
sum( 10, 20 );
print ("Outside thefunction global total : ", total)

Inside the function local total :  30
Outside thefunction global total :  50

In [2]:
def swap(x, y):
    global a
    a = "Lawal"
    x,y = y,x
    b = "Chris"
    b = "Edward"
    c = "Lola"
    print(a,b,x,y)
    a = "Mary"
swap("Tina","Tolu")
print (a)

Lawal Edward Tolu Tina
Mary

In [4]:
import pandas as pd

def check_use_in_excel(SURNAME, DEPARTMENT):
    df = pd.read_csv("jt-ventures.csv")
    
    user = df[(df['SURNAME'] == SURNAME) & (df['DEPARTMENT'] == DEPARTMENT)]
    
    if not user.empty:
            print("User found in the excel file")
    else:
        print("User notfound in the excel file ")
        
value_B = input("Please input your surname: ")

Value_C = input("What is your department")

check_use_in_excel(SURNAME, DEPARTMENT):

SyntaxError: invalid syntax (1930926618.py, line 17)

In [12]:
import pandas as pd

def check_user_in_excel(surname, department):
    df = pd.read_csv("jt-ventures.csv")
    
    user = df[(df['SURNAME'] == surname) & (df['DEPARTMENT'] == department)]
    
    if not user.empty:
            print("User found in the excel file")
    else:
        print("User not found in the excel file ")
        
surname = input("Please input your surname: ")

department = input("What is your department: ")

check_user_in_excel(surname, department)

Please input your surname: ADENIRAN
What is your department: Logistics
User not found in the excel file

NameError: name 'df' is not defined

In [7]:
import pandas as pd

data = pd.read_csv("jt-ventures.csv")

data

     S/N           SURNAME     FIRST NAME      DEPARTMENT  Unnamed: 4
0    1.0          ADENIRAN  Oluwatamilore       Logistics         NaN
1    2.0           ADEWUMI        Ayomide      Accounting         NaN
2    3.0       ADOH-AJAGBE          Oshim        Delivery         NaN
3    4.0  AGBAKURU- \NWOGU    Chukwunonye      Accounting         NaN
4    5.0         AGBAKWURU     Chiemeziem       Logistics         NaN
5    6.0            AKINDE   Oluwatimehin      Accounting         NaN
6    7.0            ARNIKA          Osose       Logistics         NaN
7    8.0            ATELLY         Daniel        Delivery         NaN
8    9.0             AZOGU      Onyekachi        Delivery         NaN
9   10.0            BETURE         Shalom        Delivery         NaN
10  11.0          CHUKWUMA           Nedi       Logistics         NaN
11  12.0               EBI      Stephanie      Accounting         NaN
12  13.0            EGBORO          Jason  Administration         NaN
13  14.0           EJEDIMU         Edward        Delivery         NaN
14  15.0             ELERI            Otu  Administration         NaN
15  16.0               EZE     Onyinyechi  Administration         NaN
16  17.0           EZEONYE    Makuochukwu       Logistics         NaN
17  18.0              GIWA       Moyosore       Logistics         NaN
18  19.0              ICHA        Ayonete      Accounting         NaN
19  20.0            IKPATI           Eche      Accounting         NaN
20  21.0         ILOENYOSI        Michael        Delivery         NaN
21  22.0             IYAWE  Oluwadamilola        Delivery         NaN
22  23.0           NWOKOLO       Chijindu       Logistics         NaN
23  24.0         NWOTOKUBO         Joseph       Logistics         NaN
24  25.0          OBASOGIE          Daisy      Accounting         NaN
25  26.0              OBI          Samuel      Accounting         NaN
26  27.0           OBIALOR          Betha      Accounting         NaN
27  28.0           OGBONNA     Boluwatife        Delivery         NaN
28  29.0         OIGBOCHIE           Mary        Delivery         NaN
29  30.0      OKOCHA-OJEAH        Raphael  Administration         NaN
30  31.0             OKOLO         Victor  Administration         NaN
31  32.0             OKORO          Derek       Logistics         NaN
32  33.0         OLOWOKERE        Akorede      Accounting         NaN
33  34.0          OLUBUADE        Rasheed      Accounting         NaN
34  35.0           OSEMEKE         Daniel      Accounting         NaN
35  36.0             OSSAI   Mary-Cynthia       Logistics         NaN
36  37.0             PETER         Owoede       Logistics         NaN
37  38.0            QUADRI   Oluwafikunmi        Delivery         NaN
38  39.0           UDE-IBE        Uchenna        Delivery         NaN
39  40.0              UMEH          Ejike  Administration         NaN
40   NaN               NaN            NaN             NaN         NaN

In [ ]:
Value_A = input("How large is your package in kilogram: ")
print(Value_A)
if Value_A >= 10:
    value_B = input("") 
    print(value_B)
    if  value_B >= 55:   
        print(A)
        A = ("Your annual tax revenue is #5,600,000")
    elif value_B < 55:
        print (B)
        B = ("That's beyond my pay grade")
elif 20 < value_A <= 24:
    value_B = input("How old are you")
    print(Value_B)
    if  54 <= value_B <= 45:
        print(A)
        A = ("Your annual tax revenue is #4,480,000")
    elif value_B < 55:
        print (B)
        B = ("That's beyond my pay grade")
elif 10 < value_A <= 19:
    value_B = input("How old are you")
    print(Value_B)
    if  45 < value_B <= 35:
        print(A)
        A = ("Your annual tax revenue is #1,500,000")
    elif value_B < 55:
        print (B)
        B = ("That's beyond my pay grade")
elif 10 < value_A <= 19:
    value_B = input("How old are you")
    print(Value_B)
    if  45 < value_B <= 35:
        print(A)
        A = ("Your annual tax revenue is #1,500,000")
    elif value_B < 55:
        print (B)
        B = ("That's beyond my pay grade")
elif value_A < 10:
    value_B = input("How old are you")
    print(Value_B)
    if value_B <= 34:
        print(A)
        A = ("Your annual tax revenue is #550,000")
    elif value_B < 1:
        print (B)
        B = ("That's beyond my pay grade")
else:
    print(C)
    C = ("let me have peace")

In [13]:
import pandas as pd

df = pd.read_csv("work.csv")

def check_user_in_excel(weight, location):
    user = df[(df['WEIGHT'] == weight) & (df['LOCATION'] == location)]
    
    if weight >= 10:

SyntaxError: incomplete input (1773551558.py, line 9)

In [20]:
weight = float(input("How much does this package weigh: "))
weight_value = 10
if weight >= weight_value:
    Location = input("Where is this delivery to: ")
    if location == Ibeju-Lekki:
        print("Your cost is #2000")
    elif location == Epe:
        print("Your cost is #5000")
        
elif weight < weight_value:
    Location = input("Where is this delivery to: ")
    if location == Ibeju-Lekki:
        print("Your cost is #1500")
    elif location == Epe:
        print("Your cost is #4000")

How much does this package weigh: 10
Where is this delivery to; Epe

NameError: name 'location' is not defined